h1 {
	color: blue;
}

div {
	display:inline-block;
}

input {
	border-style: solid;
	border-color: blue;
	border-width: 3px;
}

select {
	border-style: solid;
	border-color: blue;
	border-width: 3px;
}

